div.popup {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 20%;
    bottom: 0;
}

p.popup-message {
    position: absolute;
    top: 19%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 4em;
    color: #FFF;
}